
<p-growl [(value)]="msgs"></p-growl>

<div class="jumbotron">
<!-- <div class="container" id="conteneurInscription"> -->
  <div class="container">
        <h3>Création de compte</h3>
    <p>Créez votre compte pour avoir l'accès à l'annuaire des membres, et consulter les offres publiées dans le club.
      <br>Vous pourrez contacter des professionels ou être contacté pour des propositions de prestations.
    </p>
  </div>
</div>

<div class="container">
  <!-- <div class="row" id="ligneTitre">
  
    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #eee;">
    <h3 >Création de compte</h3>
    <p>Créez votre compte pour avoir l'accès à l'annuaire des membres, et consulter les offres publiées dans le club.
      <br>Vous pourrez contacter des professionels ou être contacté pour des propositions de prestations.
    </p>
    </div>

  </div> -->
  
  <div class="row">
    
    <!-- COLONNE GAUCHE PHOTO-->
    <div class="col-md-4 col-sm-6 col-xs-12" align="center">
      <div class="text-center" *ngIf="urlPhoto" >
        <img [src]="urlPhoto" class="avatar img-thumbnail" alt="avatar" style="max-height:300px;">
        
        
        <!-- <input type="file" class="text-center center-block well well-sm"  accept="image/*">
        
         <p-fileUpload #fubauto mode="basic" name="demo[]" url="../../assets/test.jpg" accept="image/*" maxFileSize="1000000" (onUpload)="chargerImage($event)" chooseLabel="Choisissez un fichier"></p-fileUpload>
      

        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="chargerImage($event)" 
                multiple="multiple" accept="image/*" maxFileSize="1000000">
            <ng-template pTemplate type="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size/1000}} Kbytes</li>
                </ul>
            </ng-template>        
        </p-fileUpload> 

        <p-fileUpload name="myfile[]" url="./upload.php" accept="image/*" maxFileSize="1000000">
            <ng-template pTemplate="toolbar">
                <div>Choisissez votre photo de profil</div>
            </ng-template>  
            <ng-template let-file pTemplate="file">
                <div>{{file.name}} - {{file.size/1000}} Kbytes</div>
            </ng-template> 
            <ng-template pTemplate="content">
                <div>Custom UI to manage uploaded files</div>
            </ng-template>  
        </p-fileUpload> -->
      </div>
      <div *ngIf="!urlPhoto" class="text-center avatar img-thumbnail" alt="avatar" id="photoParDefaut">
          <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
      <h6>Choisir une photo de profil</h6>
    </div>
   
    <!-- COLONNE DROITE FORMULAIRE INSCRIPTION -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      
      <!-- message erreur formulaire  -->
      <div class="alert alert-info" *ngIf="erreurFormulaire">
        <!-- <a class="panel-close close" data-dismiss="alert">×</a>  -->
        <i class="fa fa-coffee"></i>
         This is an <strong>.alert</strong> {{erreurFormulaire}}
      </div>

      <!-- message succès formulaire  -->
      <div class="alert alert-success alert-dismissable" *ngIf="succesFormulaire">
         <a class="panel-close close" data-dismiss="alert">×</a>  
        <i class="fa fa-coffee"></i>
        <strong> Bravo !</strong> {{succesFormulaire}}
      </div>

      <h4>Votre profil</h4>
      <form class="form-horizontal" role="form" #form="ngForm" (submit)="creerCompte(form)">
        
        <!-- prenom  -->
        <div class="form-group">
          <label class="col-lg-3 control-label">Prénom*:</label>
          <div class="col-lg-8">
            <input class="form-control" name="prenom" type="text" placeholder="votre prénom" #prenom="ngModel" ngModel required>
          </div>
        </div>

        <!-- nom  -->
        <div class="form-group">
          <label class="col-lg-3 control-label">Nom*:</label>
          <div class="col-lg-8">
            <input class="form-control" name="nom" type="text" placeholder="votre nom" #nom="ngModel" ngModel required>
          </div>
        </div>

        <!-- email  -->
        <div class="form-group">
          <label class="col-lg-3 control-label">Email*:</label>
          <div class="col-lg-8">
            <input class="form-control" name="email" type="email" placeholder="votre email" #email="ngModel" ngModel required>
          </div>
        </div>

        <!-- mot de passe  -->
        <div class="form-group">
          <label class="col-lg-3 control-label">Mot de passe*:</label>
          <div class="col-lg-8">
            <input class="form-control" name="mdp" type="password" placeholder="votre mot de passe" #mdp="ngModel" ngModel required>
          </div>
        </div>

        <!-- confirmation mot de passe  -->
        <div class="form-group">
          <label class="col-lg-3 control-label">Confirmation*:</label>
          <div class="col-lg-8">
            <input class="form-control" name="mdpConfirm" type="password" placeholder="Confirmez votre mot de passe" #mdpConfirm="ngModel" ngModel required>
            <span *ngIf="erreurPassword">{{erreurPassword}} </span>
          </div>
        </div>

        <!-- url site  -->
        <div class="form-group">
          <label class="col-lg-3 control-label">Site pro:</label>
          <div class="col-lg-8">
            <input class="form-control" name="url" type="url" placeholder="votre site professionnel" #url="ngModel" ngModel>
          </div>
        </div>

        <!-- Upload photo --> 
        <div class="form-group">
          <label class="col-lg-3 control-label">Photo:</label>
          <div class="col-lg-8">
            <input #photo name="photo" class="input-file" type="file" #photo="ngModel" ngModel (change)="chargerPhoto($event)">
            <!-- <span class="glyphicon glyphicon-folder-open"></span> -->
          </div>
        </div>

        <!-- Sélection départements  -->
        <div class="form-group">
          <label class="col-lg-3 control-label">Localisation*:</label>
          <div class="col-lg-9">
            <p-autoComplete id="inputDepartements" #departement name="departement" #departement="ngModel" ngModel [(ngModel)]="saisieDepartement" dataKey="numero" field="nom" [suggestions]="filtreDepartements" (completeMethod)="filtrerDepartements($event)" [size]="30" (onSelect)="selectionnerDepartement();"
            [minLength]="1" placeholder="Sélectionnez jusqu'à 3 départements" [dropdown]="true" (onDropdownClick)="cliquerDropdownDepartements($event)" emptyMessage="aucun département ne correspond à votre saisie." [disabled]="limiterSelections(departementsSelectionnes)" required>
                <ng-template let-departement pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        <div style="font-size:12px;float:left;margin:10px 10px 0 0">{{departement.nom}} ({{departement.numero}})</div>
                    </div>
                </ng-template>
            </p-autoComplete>
          </div>
        </div>

        <!-- Badges départements  -->
        <div class="form-group">
            <label class="col-lg-3 control-label labelsCaches">rayon d'activité:</label>
            <div class="col-lg-9" id="ligneBadgesDepartements">
              <span id="badgeDepartement" class="badge" *ngFor="let departement of departementsSelectionnes" (click)="retirerDepartement(departement);">{{departement.nom}} <i class="fa fa-times" aria-hidden="true"></i> </span>
            </div>
        </div>

         <!-- Sélection professions  -->
        <div class="form-group">
          <label class="col-lg-3 control-label">Profession(s)*:</label>
          <div class="col-lg-9">
            <p-autoComplete id="inputDepartements" #profession name="profession" #profession="ngModel" ngModel [(ngModel)]="saisieProfession" field="metier" [suggestions]="filtreProfessions" (completeMethod)="filtrerProfessions($event)" [size]="30" (onSelect)="selectionnerProfession();"
            [minLength]="1" placeholder="Sélectionnez jusqu'à 3 professions" [dropdown]="true" (onDropdownClick)="cliquerDropdownProfessions($event)" emptyMessage="aucune profession ne correspond à votre saisie." [disabled]="limiterSelections(professionsSelectionnees)" required>
                <!-- <ng-template let-profession pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        <div style="font-size:12px;float:left;margin:10px 10px 0 0">{{profession.metier}}</div>
                    </div>
                </ng-template> -->
            </p-autoComplete>
          </div>
        </div>

        <!-- Badges professions  -->
        <div class="form-group">
            <label class="col-lg-3 control-label labelsCaches">professions:</label>
            <div class="col-lg-9" id="ligneBadgesDepartements">
              <span id="badgeProfession" class="badge" *ngFor="let profession of professionsSelectionnees" (click)="retirerProfessionSelectionnee(profession);">{{profession.metier}} <i class="fa fa-times" aria-hidden="true"></i> </span>
            </div>
        </div>
    
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-default btnLumo" value="Enregistrer" type="submit">
            <span></span>
            <input class="btn btn-default btnLumo" value="Annuler" type="reset" (click)="reinitialiserFormulaire();">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

