
<div class="container" id="conteneurAnnuaire">


<h1 class="titre">Ici le titre et barre de recherche.</h1>

 <div class="row well" id="ligneRecherche">
    <div class="col-md-6 col-sm-6 col-xs-12"> 
        <p-autoComplete [(ngModel)]="saisieDepartement" [suggestions]="listeDepartementsSelectionnes" (completeMethod)="filtrerDepartements($event)" (onDropdownClick)="cliquerDropdownDepartements($event)" [dropdown]="true" [multiple]="true" field="nom" [size]="30" [minLength]="1" placeholder="sélectionner les localisations"></p-autoComplete>
     </div>
    <p-dropdown [options]="listeDepartements"  placeholder="Select a City" [(ngModel)]="saisieDepartement"></p-dropdown>
    <input id="input" type="text" size="30" pInputText [(ngModel)]="text"> 
    
 </div> 

<!-- 
 <p-dataTable [value]="listeDepartements">
    <p-column field="numero" header="numero"></p-column>
    <p-column field="nom" header="nom"></p-column>
</p-dataTable> -->

    <div class="row" id="ligneCards">
        
        <div class="col-xs-12 col-sm-4 col-md-4" *ngFor="let membre of listeMembres let index = index">
            <div class="well well-sm" id="carteMembre" (click)="membre.estSelectionne= !membre.estSelectionne;selectionnerProfil(membre, membre.estSelectionne);"  [ngClass]="{'cardSelectionnee' : membre.estSelectionne}">
                <div class="row">
                    
                    <!-- photo de profil -->
                    <div class="col-sm-6 col-md-4">
                        <img [src]="membre.photo" alt="photo" class="img-rounded img-responsive" id="photoProfil"/>
                    </div>

                    <!--nom prénom  -->
                    <div class="col-sm-6 col-md-8">
                        <h4> {{membre.nom}} {{membre.prenom}}</h4>
                        
                        <!-- départements -->
                        <small >
                            <!-- <cite title="San Francisco, USA"> -->
                                <i class="glyphicon glyphicon-map-marker iconeCard"></i>
                                <span *ngFor="let departement of membre.localisation"> {{departement.nom}} ({{departement.numero}})
                                </span>
                            <!-- </cite> -->
                        </small>
                        
                        <!-- INFOS PROFIL  -->
                        <p> 
                            <!-- professions  -->
                            <i class="fa fa-desktop iconeCard" aria-hidden="true"></i>
                            <span *ngFor="let profession of membre.professions let last=last;"> 
                                
                                <span  *ngIf="!last"> {{profession.nomMetier}}, </span> 
                                <span *ngIf="last">{{profession.nomMetier}} </span>
                            </span>
                            <br />
                            
                            <!-- site web  -->
                            <i class="glyphicon glyphicon-globe iconeCard"></i><a [href]="membre.urlSite" target="_blank">{{membre.urlSite}}</a>
                            <br />

                            <!-- compteur popularité  -->
                            <i class="glyphicon glyphicon-thumbs-up iconeCard"></i>
                            <span style="font-weight:bold;"> {{membre.compteurPopularite}} </span> votes
                        
                        </p>

                        <!-- LIGNE BOUTONS  -->
                        <div class="row">
                            <div class="col-sm-7 col-md-7" id="colCheckbox">
                                
                                <span id="iconeCheckbox" class="glyphicon" [ngClass]="{ 'glyphicon-check' : membre.estSelectionne, ' glyphicon-unchecked' : !membre.estSelectionne }" aria-hidden="true"></span>
                                CONTACTER

                                <!-- Split button -->
                                <!-- <div class="btn-group">
                                    <button type="button" class="btn btn-primary">
                                        Social</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span><span class="sr-only">Social</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                        <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Github</a></li>
                                    </ul>
                                </div> -->
                            </div>
                            <div class="col-sm-5  col-md-5" style="margin:0;text-align:end;padding-left:0;">
                                <button type="button" class="btn btn-default btn-circle" disabled="true"><i class="glyphicon glyphicon-thumbs-up"></i></button>
                                <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon glyphicon-star-empty"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




    </div>