

#conteneurAnnuaire {
    background-color: #eee;
    width:100vw;
    min-height:92vh;
}

#ligneRecherche {
  /* background-color: cornflowerblue;  */
  background-color: #eee;
  border-bottom: 1px solid #000000;
}

#ligneCards {
  padding-bottom:3vh;
}


.titre {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}


/*********************  */

.iconeCard {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

#carteMembre {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#carteMembre:hover {
  cursor: pointer;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.cardSelectionnee {
  border: 1px solid #000000;
}

#ligneBoutonsCard {
  display: flex;
  align-content: center;
  align-items: center;

}

#iconeCheckbox {
  /* font-size:1.3em; */
}

#colCheckbox {
  margin:0;
  padding-right:0;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
   /* border-style:groove; */
}

/* BOUTON LIKE  */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle:focus {
 outline: none;
}




:host /deep/ .ui-autocomplete {

   /* background-color: red;  */
  color:white;
  height:40px;
  margin:0;

}

:host /deep/ input {
    /* background-color: red; */
    height:100%;
    border-radius:4px;
    padding-left:5px;
}

:host /deep/ .ui-autocomplete:focus {
    color:white;
    outline:none;
}


@media screen and (max-width: 768px) {

#photoProfil {
  display:none;
}

}
