html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-top : 65px;
   /* margin-bottom: 5vh;  */
   /* background-color:red;  */
   /* border-style:dashed; */
}

h1 {
  font-size:1em;
}

button {
  background-color:white;
}

button:hover {
  background-color:black;
}