

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-top : 65px;
   /* margin-bottom: 5vh;  */
   /* background-color:red;  */
   /* border-style:dashed; */
}

h1 {
   font-size:3em; 
}


button {
  background-color:white;
}

button:hover {
  background-color:black;
}

.btnLumo {
  background-color:white;
  border: 0.1em solid #000000;
  border-radius:2px;
  box-shadow: none;

}

.btnLumo:hover {
  background-color:black;
  color:white;

}

.btnLumo:focus {
  background-color:white;
  color:black;
  border: 0.1em solid #000000;
  outline:none;
}



@media screen and (max-width: 768px) {

}